<app-navbar></app-navbar>

<div class="container">
  <h1>Manage</h1>
  <p>
    Select a dashboard to Edit, Clone, or Delete.
    Otherwise, click New to create a new dashboard.
  </p>

  <div class="control">
    <form>
      <mat-form-field>
        <mat-label>Dashboard</mat-label>
        <input
          [formControl]="dashboardCtrl"
          #input
          [matAutocomplete]="auto"
          matInput
          placeholder="Select dashboard"
          type="text"
          (focus)="filter()"
          (input)="filter()"
        >
        <mat-autocomplete #auto="matAutocomplete" requireSelection>
          <mat-optgroup *ngFor="let group of filteredGroupOptions" [label]="group.name">
            <mat-option *ngFor="let dashboard of group.dashboards" [value]="dashboard">{{ dashboard }}</mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    
    <section>
      <button mat-stroked-button color="primary" (click)="onCreateDashboard()"><mat-icon>add</mat-icon>New</button>
      <ng-container *ngIf="dashboardCtrl.value">
        <button mat-stroked-button color="primary" (click)="onCopyDashboard()"><mat-icon>content_copy</mat-icon>Clone</button>
        <button mat-stroked-button color="warn" (click)="onDeleteDashboard()"><mat-icon>delete</mat-icon>Delete</button>
        <mat-divider vertical></mat-divider>
        <button mat-flat-button color="primary" (click)="onSaveDashboard()"><mat-icon>save</mat-icon>Save</button>
      </ng-container>
    </section>
  </div>
</div>
